.project1_header{
    text-align : center; margin : 2rem 0 ;
}
.project1_logo{
    font-family: 'ADLaM Display', cursive;
}

.project1_footer_button{
    font-size : .6rem;
}
.project1_footer{
    text-align : center ; margin-top : 2rem ;
}